<header class="header" id="navbar-header">
  <!-- Header top -->
  <div class="top">
    <div class="top__left">
      <a href="#"><i class="fas fa-phone-volume"> Call center 1234-5678</i></a>
      <i class="fas fa-grip-lines-vertical"></i>
      <a href="mailto:info@smargarita.com">
        <i class="fas fa-envelope-square"> info@smargarita.com.ar</i></a
      >
    </div>
    <div class="top__right">
      <a href="/telemedicina" target="_blank">Turno Telemedicina</a>
      <i class="fas fa-grip-lines-vertical"></i>
      <a href="/portalpaciente" target="_blank">Portal Pacientes</a>
    </div>
  </div>

  <!-- Header main -->
  <div class="main">
    <div class="main__left">
      <div class="img">
        <a href="./index">
          <img src="./images/mainLogo.jpg" alt="Main-Logo" title="logo" />
        </a>
      </div>
      <div class="tittle">
        <a class="t1" href="./index">Sanatorio Margarita</a>
        <a class="t2" href="./index">COMPROMETIDOS CON TU BIENESTAR</a>
      </div>
    </div>
  </div>
  <nav class="nav" id="">
    <a href="#navbar-header" class="navbar-menu-mobile open">
      <i class="fa fa-bars fa-2x"></i>
    </a>
    <a href="#" class="navbar-menu-mobile close">
      <i class="fa fa-close fa-2x"></i>
    </a>
    <ul class="main__right" id="">
      <li><a href="./index">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Novedades</a></li>
      <li><a href="#">Contactos</a></li>
    </ul>
  </nav>
</header>
