<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/olvidopassword.css" />
  </head>
  <body>
    <div class="container">
      <div class="main__left">
        <div class="img">
          <a href="./index">
            <img src="./images/mainLogo.jpg" alt="Main-Logo" title="logo" />
          </a>
        </div>
        <div class="tittle">
          <a class="t1" href="./index">Sanatorio Margarita</a>
          <a class="t2" href="./index">COMPROMETIDOS CON TU BIENESTAR</a>
        </div>
      </div>
      <hr />
      <h3>Restablecer Contraseña</h3>
      <form method="" action="" autocomplete="off">
        <input
          type="list"
          list="tipoDoc"
          name="tipoDoc"
          placeholder="Tipo de documento"
          required
        />
        <datalist id="tipoDoc" name="tipoDoc">
          <option value="DNI"></option>
          <option value="LC"></option>
          <option value="LE"></option>
          <option value="CI"></option>
          <option value="PASAPORTE"></option>
        </datalist>

        <input
          type="text"
          placeholder="Ingrese su numero de documento"
          required
        />
        <input
          type="email"
          placeholder="Ingrese su correo electronico"
          required
        />
        <input type="submit" value="Restablecer" />
        <input type="reset" value="Cancelar" />
      </form>
    </div>
  </body>
</html>
