<!--***************************************    FOOTER   ***************************************-->
<footer class="footer">
  <!-- Footer titulo -->
  <div class="footer__tittle">
    <h3>ACCESOS</h3>
  </div>
  <!-- Footer primera card -->
  <div class="footer__cont footer__cont1">
    <p class="cont cont-md">Institucional</p>
    <p class="cont"><a href="#">Autoridades</a></p>
    <p class="cont"><a href="#">Historia</a></p>
    <p class="cont"><a href="#">Código de ética</a></p>
    <p class="cont"><a href="#">Política de Calidad</a></p>
    <p class="cont"><a href="#">Gestión de Calidad</a></p>
    <p class="cont"><a href="#">Videos Institucionales</a></p>
    <p class="cont cont-md"><a href="#">Complejo Edilicio</a></p>
    <p class="cont cont-md"><a href="#">Especialidades Médicas</a></p>
    <p class="cont cont-md"><a href="#">Estudios y Procedimientos</a></p>
    <p class="cont cont-md"><a href="#">Profesionales</a></p>
  </div>
  <!-- Footer segunda card -->
  <div class="footer__cont footer__cont2">
    <p class="cont cont-md">Atencion al Cliente</p>
    <p class="cont"><a href="#">Turnos Online</a></p>
    <p class="cont"><a href="#">Informacion Util</a></p>
    <p class="cont"><a href="#">Derechos del paciente y su familia</a></p>
    <p class="cont"><a href="#">Entidades</a></p>
    <p class="cont"><a href="#">Como llegar</a></p>
    <p class="cont cont-md"><a href="#">Trabaja con Nosotros</a></p>
    <p class="cont cont-md"><a href="#">Contactenos</a></p>
  </div>
  <!-- Footer tercera card -->
  <div class="footer__cont footer__cont3">
    <p class="cont cont-lg">Edificio Central</p>
    <p class="cont"><a href="#">Lorem, ipsum dolor</a></p>
    <p class="cont cont-lg">Edificio Externo</p>
    <p class="cont"><a href="#">Lorem, ipsum dolor</a></p>
    <p class="cont cont-lg">Telefonos Utiles</p>
    <p class="cont cont-mdp">Conmutador Central: ****-****</p>
    <p class="cont cont-mdp">Admision de Internacion: ****-****</p>
    <p class="cont cont-mdp">Fax Int ****</p>
    <p class="cont cont-mdp">
      Turnos Telefonicos: ****-**** (Lunes a Viernes de 8hs a 18hs)
    </p>
  </div>
  <!-- Footer cuarta card -->
  <div class="footer__cont footer__cont4">
    <p class="cont cont-lg">Siguenos en:</p>
    <div class="redes">
      <div class="redes__img">
        <a href="https://www.youtube.com/" target="_blank"
          ><img
            src="./images/imgFooter/youtube.png"
            alt="logoyoutube"
            title="youtube"
        /></a>
      </div>
      <div class="redes__img instagram">
        <a href="https://www.instagram.com" target="_blank"
          ><img
            src="./images/imgFooter/instagram.jpg"
            alt="logoinstagram"
            title="instagram"
        /></a>
      </div>
      <div class="redes__img">
        <a href="https://www.facebook.com" target="_blank"
          ><img
            src="./images/imgFooter/facebook.png"
            alt="logofacebook"
            title="facebook"
        /></a>
      </div>
    </div>
    <p class="cont cont-md">Descarga nuestra app en:</p>
    <div class="redes">
      <div class="tiendas">
        <a href="https://play.google.com" target="_blank"
          ><img
            src="./images/imgFooter/googleplay.png"
            alt="googleplay"
            title="googleplay"
        /></a>
      </div>
      <div class="tiendas">
        <a href="https://www.apple.com" target="_blank"
          ><img
            src="./images/imgFooter/appstore.png"
            alt="appstore"
            title="appstore"
        /></a>
      </div>
    </div>
    <div class="logo">
      <div class="logof">
        <a href="https://www.ama-med.org.ar/" target="_blank"
          ><img
            src="./images/imgFooter/logof.png"
            alt="logof"
            title="Asociacion Medica Argentina"
        /></a>
      </div>
    </div>
  </div>
  <!-- Footer Copyright -->
  <div class="copyright">
    <span class="copyright__tittle">
      © Copyright 2021 | Desarrollado por Daniel Acosta</span
    >
  </div>
</footer>
