<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/telemedicina.css" />
  </head>
  <body>
    <!--***************************************    HEADER   ***************************************-->
    <%-include("../partials/header.ejs") %>
    <!--***************************************    SECTIONS   ***************************************-->
    <!-- Section 1 -->
    <section class="telemedicina">
      <img
        src="/images/imgTelemedicina/telemedicina.jpg"
        alt="Telemedicina"
        title="telemedicina"
      />
      <div class="telemedicina__tittle">
        <h2 class="tittle--tele">NUEVO SERVICIO DE TELEMEDICINA</h2>
        <p class="subtittle--tele">
          Te explicamos en detalle todo lo que necesitas para poder acceder a
          este nuevo servicio...
        </p>
      </div>
    </section>
    <!-- Section 2 -->
    <main class="mainTele">
      <!-- Main 1 -->
      <div class="main1">
        <p>
          Quedate en casa nosotros te cuidamos… Te ofrecemos la posibilidad de
          realizar una Video Consulta en Clínica Médica y Neumonología.
        </p>
        <p>Próximamente más especialidades.</p>
        <p>
          Para todas las obras sociales y prepagas en convenio con nuestro
          Sanatorio Margarita.
        </p>
        <p>
          PASO 1 – Registro: Enviá un Whatsapp (sólo mensajes) al **********
          para agendar tu turno y te darán un link para pagar de acuerdo al
          convenio con tu obra social o prepaga.
        </p>
        <p>
          PASO 2 – Pago: Con el link, que te brindaron en el paso número 1,
          podrás abonar la consulta por mercado pago.
        </p>
        <p>
          PASO 3 – Consulta: Recibirás un mail con el link de la videoconsulta
          con el cual accederás el día del turno.
        </p>
      </div>
      <!-- Article 1 -->
      <article class="article1">
        <h3>Te puede interesar</h3>
        <div>
          <a
            href="https://www.directoalpaladar.com/ingredientes-y-alimentos/23-alimentos-hidratantes-para-refrescarte-comiendo-este-verano-monton-recetas-ellos-para-no-aburrirte"
            target="_blank"
            ><i class="fas fa-chevron-right"></i> Los 23 alimentos mas
            hidratantes para refrescarte comiendo este verano</a
          >
        </div>
        <div>
          <a
            href="https://www.policlinicomodelo.com.ar/enfermedades-primaverales/"
            target="_blank"
            ><i class="fas fa-chevron-right"></i> Enfermedades de primavera:
            cuales son las mas comunes y como prevenirlas</a
          >
        </div>
        <div>
          <a
            href="https://www.cun.es/enfermedades-tratamientos/enfermedades/neumonia"
            target="_blank"
            ><i class="fas fa-chevron-right"></i> ¿Que es la neumonia?</a
          >
        </div>
        <div>
          <a
            href="https://www.kidshealth.org/es/parents/covid-delta-variant.html"
            target="_blank"
            ><i class="fas fa-chevron-right"></i> Coronavirus (COVID-19): delta
            y otras variantes</a
          >
        </div>
        <div>
          <a
            href="https://www.infosalus.com/salud-investigacion/noticia-nuevas-opciones-mejorar-tratamientos-enfermedades-cardiacas-20200825070935.html"
            target="_blank"
            ><i class="fas fa-chevron-right"></i> Nuevas opciones para mejorar
            los tratamientos de las enfermedades cardiacas</a
          >
        </div>
      </article>
      <!-- Main 2 -->
      <div class="main2">
        <img
          src="/images/imgTelemedicina/telemedicina_main.jpg"
          alt="telemedicina_main"
          title="telemedicina_main"
        />
        <p>
          Por cualquier duda o consulta escribinos por WhatsApp al ** **** ****
        </p>
      </div>
      <!-- Article 2 -->
      <article class="article2">
        <div>
          <h3>Informacion de contacto</h3>
          <p>Direccion, Localidad, Buenos Aires</p>
        </div>
        <div>
          <p>Tel: *** ****-****</p>
          <p>Central de turnos ****-****</p>
          <p>Contrataciones ****-****</p>
          <p>Conmutador ****-****</p>
        </div>
        <div>
          <p>Web:<a href="/index">sanatoriomargarita.com.ar</a></p>
          <p>Redes Sociales</p>
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-square"></i
          ></a>
          <a href="https://www.instagram.com"
            ><i class="fab fa-instagram-square"></i
          ></a>
          <a href="https://www.youtube.com/"
            ><i class="fab fa-youtube-square"></i
          ></a>
        </div>
      </article>
    </main>
    <!--***************************************    FOOTER   ***************************************-->
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
